@{
    ViewData["Title"] = "Home Page";
}
<header>
<nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"style="background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);" >
            <div class="container" style="background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/TravelLogo.png"style="width:70px;height:40px;" asp-controller="Home" asp-action="Index"/>Travel Reimbrusement
                    </a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                            <li class="nav-item login-item">
                                <a class="nav-link nav-link-bold nav-link-hover" asp-controller="MultiLogin" asp-action="Index">Login</a>
                            </li>
                    </ul>
            </div>
        </nav>
    </header>
    
<body style="background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);">
<html>


<div class="text-center">
  <!-- <a><img src="https://media1.giphy.com/media/jyen2ziNoQExp0jq1M/giphy.gif?cid=6c09b952s46k0nf1i3tkt56rh9kb7u57i80rdg1pzk4czw0o&rid=giphy.gif&ct=s" style="width:500px;height:200px;"></a> -->
    <a><img src="https://i.pinimg.com/originals/39/6f/c2/396fc2753691cffd13a16c553d7e552c.gif"></a>

   <a><img src=~/Images/HomePage.png></a>

  </body>

   